@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat ExtraLight";
    src: url("fonts/Montserrat-ExtraLight.ttf");
}

input {
    border: 1px solid rgb(87, 85, 81);
    background: transparent;
    color: inherit;
    height: 3em;
    margin: 3px 5px;
}

button {
    background: white;
    border: none;
    padding: 15px 25px;
    margin: 10px 15px;
}

#page-header {
    background: url("images/header.png") rgba(97, 97, 97, 0.65);
    font-family: "Montserrat ExtraLight", serif;
    color: white;
    text-align: center;
    padding: 150px 0;
    font-size: 14px;
    height: 650px
}

#page-header div {
    margin: 0 auto;
    max-width: 800px;
}

#page-header h1 {
    font-size: 5.5em;
    line-height: 150%;
}

#page-header h2 {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 140%;
    margin: 0 70px;
}

#page-header form {
    border: 1px solid rgb(87, 85, 81);
    margin: 80px 0;
    padding: 30px 0;
}

#page-header form h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#page-header form h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
    font-size: 0.8em;
}

#page-footer {
    background: black;
    color: grey;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#page-footer * {
    line-height: 250%;
}

#page-footer div {
    margin: 0 10px;
}

#page-footer a {
    color: inherit;
    text-decoration: none;
}

#page-footer a:hover {
    text-decoration: underline;
}

#page-footer .title {
    color: white;
    margin: 3px 0;
}

#page-footer a {
    display: block;
}

#page-footer .social-icons li {
    display: inline-block;
}