body {
    font-size: 0;
}
#left, #mid, #right {
    box-sizing: border-box;
    font-size: 14px;
}
#left {
    float: left;
    width: 200px;
}
#mid {
    float: left;
    width: calc(100% - 200px - 200px);
}
#right {
    float: left;
    width: 200px;
}