body {
    font-size: 0; /* 消除各栏之间空格多占据的空间 */
}
#left, #right, #mid {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
#left {
    width: 200px;
}
#right {
    width: 200px;
    top: 0;
}
#mid {
    width: calc(100% - 400px);
}