#left, #right, #mid{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
}
#left {
    width: 200px;
    left: auto;
}

#right {
    width: 200px;
    right: 0;
}

#mid {
    top: 0;
    margin-left: 200px;
    width: calc(100% - 200px - 200px - 10px);
}