* {
    font-family: Helvetica, Arial;
}
section > header {
    font-size: 1.6em;
    font-weight: bold;
}
.inline dt, .inline dd {
    display: inline;
}
.inline dt {
    font-weight: bold;
    margin-right: 5px
}
.inline dd {
    margin: auto 30px auto 10px;
}
.block dt, .block dd {
    display: block;
}
.block dt {
    font-weight: bold;
}
.block dd {
   margin: 3px 0 15px 0;
}